@import '../../../../styles/variables.scss';

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  color: $fontMain_;
  font-size: 18px;

  > button {
    margin-left: 10px;
  }
}
