@import '../../styles/variables.scss';

.input {
  width: 100%;
  height: 30px;

  font-family: 'Merriweather', serif;
  font-size: 16px;

  border: 1px solid transparent;
  outline: none;

  background: $backgroundSecondary_;

  &.highlighted {
    border: 1px solid $backgroundMain_;
  }

  &:disabled {
    color: $fontSecondary_;
    border: 1px solid transparent !important;
  }

  &:hover {
    border: 1px solid $backgroundMain_;
  }

  &:focus {
    border: 1px solid $backgroundMain_;
  }
}
