@import '../../styles/variables.scss';

.input {
  width: 100%;

  height: 30px;

  font-size: 16px;

  border: 1px solid transparent;
  outline: none;

  background: $backgroundSecondary;

  &:disabled {
    color: $fontMain;
    border: none !important;

    padding: 0;
    cursor: default;
  }

  &.highlighted {
    border: 1px solid $backgroundMain;
  }

  &.hoverBorder {
    &:hover {
      border: 1px solid $backgroundMain;
    }
  }

  &:focus {
    border: 1px solid $backgroundMain;
  }
}
