@import '../../../styles/variables.scss';

.tableContentWrapper {
  height: 100%;

  position: absolute;
  top: 0px;
  left: 10px;

  z-index: map-get($z-indexes, small-1);

  &.open {
    height: auto;

    position: relative;
    left: -170px;

    .tableContent {
      visibility: visible;
      width: 80px;
    }
  }

  .tableContentHeader {
    position: sticky;
    top: 70px;

    width: 60px;

    background: $backgroundSecondary;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $backgroundMain;

    user-select: none;
    cursor: pointer;

    font-size: 14px;

    &:hover {
      border: 1px solid $backgroundShadowMain;
      color: $backgroundShadowMain;

      > img {
        filter: invert(0.25);
      }
    }
  }

  .tableContent {
    visibility: hidden;
    width: 0;

    position: sticky;
    top: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: $backgroundSecondary;
    color: $fontMain;

    .tableList {
      width: 250px;

      padding: 0;
      list-style-type: none;

      > li {
        padding: 5px;
        cursor: pointer;

        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          background: $backgroundShadowSecondary;

          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    &.open {
      left: -70px;

      .tableContent {
        width: 180px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    &.creation {
      display: none;
    }

    height: calc(100% - 95px);
    top: 57px;

    left: 5px;

    &.open {
      left: 5px;
      top: 56px;

      position: absolute;
      height: 100%;

      .tableContentHeader {
        border-bottom: 1px solid transparent;
      }

      .tableContent {
        top: 118px;
        width: 260px;

        border: 1px solid $backgroundMain;
      }
    }

    .tableContentHeader {
      top: 74px;
    }

    .tableContent {
      top: 92px;
    }
  }

  @media screen and (max-width: 670px) {
    top: 97px;
    &.open {
      top: 96px;
    }
  }

  @media screen and (max-width: 420px) {
    top: 97px;

    .tableContentHeader {
      top: 98px;
    }

    &.open {
      .tableContent {
        top: 142px;
      }
    }
  }
}
