@import '../../../styles/variables.scss';

$barRowHeight: 30px;
$barRowSpaceHeight: 10px;

$borderSize: 1px;

$basicHeaderTop: 70px;
$headerHeight: 40px;
$headerWidth: 60px;

$contentShift: 20px;

.tableContentWrapper {
  position: absolute;

  top: 0px;
  left: 20px;

  height: 100%;
  width: 0;

  z-index: map-get($z-indexes, small-1);

  &.open {
    width: auto;

    .tableContentHeader {
      > img {
        transform: rotate(180deg);
      }
    }

    .tableContent {
      display: flex;
    }
  }

  .tableContentHeader {
    position: sticky;
    top: $basicHeaderTop;

    width: $headerWidth;
    height: $headerHeight;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: $borderSize solid $backgroundMain;
    background: $backgroundSecondary;

    user-select: none;
    cursor: pointer;

    font-size: 14px; // TODO 16?

    &:hover {
      border: $borderSize solid $backgroundShadowMain;
      color: $backgroundShadowMain;

      > img {
        filter: invert(0.25);
      }
    }
  }

  .tableContent {
    display: none;

    position: sticky;
    top: $basicHeaderTop + $headerHeight;

    flex-direction: column;
    justify-content: flex-start;

    background: $backgroundSecondary;
    color: $fontMain;

    .tableList {
      width: 230px; // TODO const

      padding: 0;
      margin: 10px 0;
      list-style-type: none;

      > li {
        padding: 5px;
        cursor: pointer;

        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          background: $backgroundShadowSecondary;

          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-1)) {
    $headerTop: $basicHeaderTop + $barRowHeight + $barRowSpaceHeight + $borderSize;

    z-index: map-get($z-indexes, large-2);

    .tableContentHeader {
      top: $headerTop;
    }

    &.open {
      position: absolute;
      height: 100%;

      .tableContentHeader {
        border-bottom: $borderSize solid $backgroundSecondary;
      }

      .tableContent {
        top: $headerTop + $headerHeight - $borderSize;

        border: $borderSize solid $backgroundMain;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-2)) {
    left: 0;

    .tableContentHeader {
      width: $headerWidth + $borderSize;
      border-left: $borderSize solid $backgroundSecondary;
    }

    .tableContent {
      margin-left: $contentShift;
    }

    &.open {
      .tableContentHeader {
        border: $borderSize solid $backgroundMain;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-3)) {
    left: 5px;

    .tableContentHeader {
      width: $headerWidth;
      border: $borderSize solid $backgroundMain;
    }
  }
}
