@import '../../styles/variables.scss';

.button {
  width: 90px;
  height: 30px;

  margin: 5px 15px;

  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;

  background: $fontMain;
  color: $fontSecondary;

  &:hover {
    background: $backgroundSecondary;
  }
}
