@import '../../styles/variables.scss';

.button {
  min-width: 90px;
  height: 30px;

  padding: 0 5px;

  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  border-radius: 2px;
  background: $backgroundMain;
  border: 1px solid $backgroundMain;

  font-size: 14px;
  color: $fontSecondary;

  &.primary {
    height: 35px;
    font-size: 16px;
  }

  &:hover {
    border: 1px solid $backgroundShadowMain;
  }
}
