@import '../../../../styles/variables.scss';

.articleBar {
  background: $backgroundSecondary;
  color: $fontMain;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .headingWrapper {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .elementsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;

    .infoWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 30px;

      .infoBlock {
        font-size: 14px;
        font-weight: bold;

        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        > span {
          font-size: 14px;
          font-weight: 400;
          padding-left: 5px;
        }
      }
    }

    .controlsWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .inputsWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > button {
          margin-left: 10px;
        }
      }

      .versionControlsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 10px;

        .versionBlock {
          width: 50px;

          display: flex;
          justify-content: center;
          align-items: center;

          height: 30px;
          border: 1px solid $backgroundMain;
        }

        .leftArrow {
          border-radius: 2px 0 0 2px;
        }

        .rightArrow {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-1)) {
    .elementsWrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .infoWrapper {
        margin-bottom: 10px;
      }

      .controlsWrapper {
        .backArrow {
          min-width: 50px;
        }

        .versionControlsWrapper {
          .leftArrow {
            min-width: 50px;
          }
          .rightArrow {
            min-width: 50px;
          }
        }
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-4)) {
    .elementsWrapper {
      .infoWrapper {
        flex-direction: column;
        align-items: flex-end;

        height: 120px;

        .infoBlock {
          margin: 0;
          height: 30px;

          display: flex;
          align-items: center;

          margin-bottom: 10px;
        }
      }
    }
  }
}
