@import '../../../styles/variables.scss';

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;

  .logo {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontSecondary;
    user-select: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $backgroundShadowMain;
    }
  }

  .controlsWrapper {
    margin-left: 10px;

    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: map-get($media-sizes, size-small-1)) {
    .controlsWrapper {
      > button {
        min-width: 75px;
      }
    }
  }
}
