@import '../../../styles/variables.scss';

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  font-size: 18px;

  > p {
    color: $fontSecondary;
  }

  > button {
    margin-left: 10px;
  }
}
