@import '../../../styles/variables.scss';

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  font-size: 18px;

  .logo {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $fontSecondary;
    user-select: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $backgroundShadowMain;
    }
  }

  > button {
    margin-left: 10px;
  }
}
