@import '../../../../../../styles/variables.scss';

.buttonWrapper {
  height: 21px;
  width: 21px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;

  background: $backgroundSecondary;
  color: $fontMain;

  &:hover {
    background: $fontSecondaryShadowed;

    > img {
      background: $fontSecondaryShadowed;
    }
  }

  > img {
    background: $backgroundSecondary;
    color: $fontMain;
  }
}
