@import '../../../../../../styles/variables.scss';

.buttonWrapper {
  height: 22px;
  width: 22px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;

  background: $backgroundSecondary;
  color: $fontMain;

  border-radius: 5px;

  &:hover {
    background: $backgroundShadowSecondaryDark;

    > img {
      // background: $fontSecondaryShadowed;
    }
  }

  > img {
  }
}
