@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.tweetWrapper {
  position: relative;
  display: inline-block;

  &:not([contenteditable]) {
    .tweetContainer {
      .videoControlsWrapper {
        display: none !important;
      }

      .controlsWrapper {
        display: none !important;
      }

      .photosWrapper {
        .photoContainer {
          > img {
            pointer-events: all;
          }

          .photoControlsWrapper {
            display: none !important;
          }
        }
      }
    }
  }

  &.selected {
    .tweetContainer {
      .videoControlsWrapper {
        display: inline-flex;
      }

      .controlsWrapper {
        display: inline-flex;
      }

      .photosWrapper {
        .photoContainer {
          .photoControlsWrapper {
            display: inline-flex;
          }
        }
      }
    }

    .tweetContainer {
      border: 2px solid $linkColor;
    }
  }

  .tweetContainer {
    display: inline-block;

    border: 2px solid $backgroundShadowSecondaryDark;
    padding: 5px;
    margin: 5px;

    &:hover {
      .videoControlsWrapper {
        display: inline-flex;
      }

      .controlsWrapper {
        display: inline-flex;
      }
    }

    .videoContainer {
      position: relative;
      display: inline-block;
    }

    .photosWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .photoContainer {
        position: relative;
        margin-bottom: 10px;

        &:hover {
          .photoControlsWrapper {
            display: inline-flex;
          }
        }

        > img {
          pointer-events: none;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .photoControlsWrapper {
          @include _controlsWrapper;
        }
      }
    }

    .labelWrapper {
      display: flex;
      align-items: center;

      .label {
        font-weight: bold;
      }

      .link {
        > a {
          color: $linkColor;
          text-decoration: none;
        }
      }
    }

    .message {
      padding: 5px 0;
      display: inline-block;
    }

    .controlsWrapper {
      @include _controlsWrapper;
      top: 5px;
    }

    .videoControlsWrapper {
      @include _controlsWrapper;

      left: 0;
      width: 250px;

      .videoControlsButtons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: map-get($media-sizes, size-large-2)) {
  .tweetWrapper {
    .tweetContainer {
      .photosWrapper {
        .photoContainer {
          max-width: 800px;
          overflow: scroll;

          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: $backgroundMain;
            height: 2px;
          }

          &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0px;
          }
        }
      }

      .videoContainer {
        > video {
          max-width: 800px;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($media-sizes, size-large-4)) {
  .tweetWrapper {
    .tweetContainer {
      .photosWrapper {
        .photoContainer {
          max-width: 600px;
        }
      }

      .videoContainer {
        > video {
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($media-sizes, size-medium-1)) {
  .tweetWrapper {
    .tweetContainer {
      .photosWrapper {
        .photoContainer {
          max-width: 330px;
        }
      }

      .videoContainer {
        > video {
          max-width: 330px;
        }
      }
    }
  }
}
