@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.tweetWrapper {
  position: relative;
  display: inline-block;

  max-width: 700px;
  text-align: left;

  border: 2px solid $backgroundShadowSecondaryDark;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;

  &:not([contenteditable]) {
    .tweetContainer {
      .videoControlsWrapper {
        display: none !important;
      }

      .photosWrapper {
        .photoContainer {
          > img {
            pointer-events: all;
          }

          .photoControlsWrapper {
            display: none !important;
          }
        }
      }
    }

    .controlsWrapper {
      display: none !important;
    }
  }

  &.selected {
    border: 2px solid $linkColor;

    .tweetContainer {
      .videoControlsWrapper {
        display: inline-flex;
      }

      .photosWrapper {
        .photoContainer {
          .photoControlsWrapper {
            display: inline-flex;
          }
        }
      }
    }

    .controlsWrapper {
      display: inline-flex;
    }
  }

  &:hover {
    .controlsWrapper {
      display: inline-flex;
    }
  }

  .tweetContainer {
    display: inline-block;

    &:hover {
      .videoControlsWrapper {
        display: inline-flex;
      }
    }

    .videoContainer {
      position: relative;
      display: inline-block;
    }

    .photosWrapper {
      display: flex;
      flex-wrap: wrap;

      column-gap: 5px;
      row-gap: 5px;

      .photoContainer {
        position: relative;

        &:hover {
          .photoControlsWrapper {
            display: inline-flex;
          }
        }

        > img {
          pointer-events: none;
          border-radius: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .photoControlsWrapper {
          @include _controlsWrapper;
        }
      }
    }

    .labelWrapper {
      display: flex;
      align-items: center;

      .label {
        font-weight: bold;
      }

      .link {
        > a {
          color: $linkColor;
          text-decoration: none;
        }
      }
    }

    .message {
      padding: 5px 0;
      display: inline-block;
    }

    .videoControlsWrapper {
      @include _controlsWrapper;

      left: 0;
      width: 250px;

      .videoControlsButtons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .controlsWrapper {
    @include _controlsWrapper;

    top: -2px;
    left: -2px; // TODO
  }
}

@media screen and (max-width: map-get($media-sizes, size-large-2)) {
  .tweetWrapper {
    .tweetContainer {
      .videoContainer {
        > video {
          max-width: 800px;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($media-sizes, size-large-4)) {
  .tweetWrapper {
    .tweetContainer {
      .videoContainer {
        > video {
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($media-sizes, size-medium-1)) {
  .tweetWrapper {
    .tweetContainer {
      .videoContainer {
        > video {
          max-width: 330px;
        }
      }
    }
  }
}
