@import '../../styles/variables.scss';

.responsiveInputWrapper {
  position: relative;

  > input {
    padding: 0 5px;
  }

  .invisibleInputCopy {
    width: max-content;
    position: absolute;
    opacity: 0;
    top: -20px;
    z-index: map-get($z-indexes, hidden-1);
  }
}
