@import '../../styles/variables.scss';

.buttonWrapper {
  height: 32px;
  width: 32px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;

  background: $backgroundSecondary;
  color: $fontMain;

  border-radius: 5px;

  &:hover {
    background: $backgroundShadowSecondary;
  }

  &:active {
    background: $backgroundShadowSecondaryDark;
  }
}
