@import './variables.scss';

@mixin _controlsWrapper {
  position: absolute;
  top: 0;
  left: 0;

  padding: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $backgroundSecondary;
  border: 2px solid $linkColor;

  display: none;
}

@mixin _styledIconButton {
  height: 32px;
  width: 32px;

  padding: 3px;
  margin: 0 5px 0 0;

  border: none;

  cursor: pointer;

  background: $backgroundSecondary;
  color: $fontMain;

  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    background: $backgroundSecondary;
    color: $fontMain;
  }

  &.active {
    background: $fontSecondaryShadowed;

    > img {
      background: $fontSecondaryShadowed;
    }
  }
}

@mixin _articleWrapper {
  display: flex;
  justify-content: flex-start;

  flex: 1;

  padding: 20px 20%;

  background: $backgroundSecondary;

  position: relative;

  @media screen and (max-width: map-get($media-sizes, size-large-0)) {
    padding: 20px 16%;
  }

  @media screen and (max-width: map-get($media-sizes, size-large-1)) {
    padding: 20px 100px;
  }

  @media screen and (max-width: map-get($media-sizes, size-large-2)) {
    padding: 20px 60px !important;
  }

  @media screen and (max-width: map-get($media-sizes, size-large-3)) {
    padding: 20px 5px !important;
  }
}

@mixin _articleContent {
  background: $backgroundSecondary;
  color: $fontMain;

  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;

  .articleBody {
    border: 1px solid $backgroundMain;
    flex: 1;

    &.preview {
      border: 1px solid transparent;
    }
  }
}
