@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
p,
pre,
a,
img,
small,
strike,
sub,
sup,
tt,
b,
u,
i,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
button,
h1,
h2,
blockquote,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--font-roboto-flex);
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;

  color: $fontMain;
}

footer,
header,
nav,
section,
main {
  display: block;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

body {
  line-height: 1;
}

input {
  font-family: var(--font-roboto-flex);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  color: $fontMain;
}

select {
  font-family: var(--font-roboto-flex);
  color: $fontMain;
}
