$backgroundMain: #282829;
$backgroundShadowMain: #555556;
$backgroundShadowMainTransparent: #5655559e;

$backgroundSecondary: #f7f8f8;
$backgroundShadowSecondary: #e7e8e8;
$backgroundShadowSecondaryDark: #d6d8d8;

$fontMain: #161410;
$fontSecondary: #ffffff;
$fontSecondaryShadowed: #b0b0b0;

$errorColor: #e80e0e;
$linkColor: #024f9c;
$secondaryColor: #797979;

$z-indexes: (
  hidden-1: -1,
  small-1: 1,
  small-2: 2,
  medium-1: 10,
  medium-2: 11,
  large-1: 100,
  large-2: 101,
);

$media-sizes: (
  size-large-0: 1920px,
  size-large-1: 1450px,
  size-large-2: 1200px,
  size-large-3: 1000px,
  size-large-4: 900px,
  size-medium-1: 670px,
  size-small-1: 420px,
);
