$backgroundMain: #f7f8f8;
$backgroundSecondary: #333a3c;
$backgroundShadowed: #b4b4b4;

$fontMain: #161410;
$fontSecondary: #f7f8f8;

$accentMain: #0057b8;
$accentSecondary: #ffd700;

$z-indexes: (
  small-1: 1,
  small-2: 2,
  medium-1: 10,
  medium-2: 11,
  large-1: 100,
  large-2: 101,
);
