@import '../../../styles/variables.scss';

.userBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    margin-right: 10px;
    font-size: 14px;
    color: $fontSecondary;
  }

  @media screen and (max-width: map-get($media-sizes, size-small-1)) {
    > button {
      min-width: 75px;
    }

    > p {
      display: none;
    }
  }
}
