@import '../../../styles/variables.scss';

.userBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    margin-right: 10px;
    font-size: 14px;
    color: $fontSecondary;
  }
}
