@import '../../styles/variables.scss';

.selectWrapper {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .label {
    margin-right: 5px;
    font-size: 14px;
  }

  select {
    height: 30px;
    border: 1px solid $backgroundMain;
    border-radius: 2px;

    font-size: 14px;
    padding: 0 5px;

    cursor: pointer;
    user-select: none;
    outline: none;
    background: $backgroundSecondary;
    color: $fontMain;
  }
}
