@import '../../../../styles/variables.scss';

.toolbarWrapper {
  width: 100%;

  position: sticky;
  top: 40px;
  z-index: map-get($z-indexes, large-1);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid $backgroundSecondary;

  background: $backgroundMain;
  color: $fontMain;
}
