@import '../../../../styles/variables.scss';

.toolbarWrapper {
  width: 100%;

  position: sticky;
  top: 50px;
  z-index: map-get($z-indexes, large-1);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  border-bottom: 1px solid $backgroundMain;

  background: $backgroundSecondary;
  color: $fontMain;

  &.hidden {
    display: none;
  }
}
