@import '../../styles/variables.scss';

.navbarWrapper {
  position: sticky;
  top: 0px;
  z-index: map-get($z-indexes, large-1);

  height: 50px;

  display: flex;
  justify-content: space-between;

  background: $backgroundMain_;
  padding-right: 10px;
}
