@import '../../styles/variables.scss';

.navbarWrapper {
  position: sticky;
  top: 0px;
  z-index: map-get($z-indexes, large-1);

  height: 50px;

  display: flex;
  justify-content: space-between;

  background: $backgroundMain;
  padding: 0 15px;

  @media screen and (max-width: map-get($media-sizes, size-small-1)) {
    padding: 0 5px;
  }
}
