@import '../../styles/variables.scss';

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: map-get($z-indexes, large-2);

  background: $backgroundShadowMainTransparent;

  &.fullScreen {
    align-items: center;

    .container {
      padding: 0;
      position: static;
    }
  }

  .container {
    position: fixed;
    top: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid $backgroundMain;
    border-radius: 5px;

    background: $backgroundSecondary;
    color: $fontMain;
    padding: 20px;
    overflow: hidden;
  }
}
