@import '../../styles/variables.scss';

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: map-get($z-indexes, large-1);

  .container {
    margin-top: 20%;
    border: 1px solid $backgroundSecondary;
    background: $backgroundMain;
    color: $fontMain;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
