@import '../../../styles/variables.scss';

.articleContent {
  background: $backgroundMain;
  color: $fontMain;

  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 0 60px 0 0;

  .articleBody {
    border: 1px solid $backgroundSecondary;
    width: 100%;
    margin-bottom: 20px;
  }
}
