@import '../styles/variables.scss';

.body {
  height: 100vh;

  background: $backgroundMain;

  font-size: 16px;

  .main {
    background: $backgroundSecondary;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
}
