@import '../../styles/variables.scss';

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 300px;

  .heading {
    margin-bottom: 20px;
  }

  .promptWrapper {
    width: 100%;

    margin-bottom: 20px;
  }

  .controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    > button {
      margin-left: 20px;
    }
  }
}
