@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.articleBar {
  @include _editableArticleBar;

  .headingWrapper {
    width: 300px;
  }

  @media screen and (max-width: map-get($media-sizes, size-medium-1)) {
    position: initial;

    height: 80px;

    flex-direction: column;
    align-items: flex-start;

    .controlPanel {
      width: 100%;
    }
  }
}
