@import '../../styles/variables.scss';

.articleWrapper {
  display: flex;
  justify-content: flex-start;

  flex: 1;

  padding: 20px 180px;

  background: $backgroundMain;

  position: relative;

  @media screen and (max-width: 1200px) {
    padding: 20px 80px !important;
  }

  @media screen and (max-width: 800px) {
    padding: 20px 5px !important;
  }
}
