@import '../../../styles/variables.scss';

.section {
  width: 350px;
  height: 270px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $backgroundSecondary;
  color: $fontSecondary;

  .header {
    font-size: 20px;
    padding: 20px 0;
  }

  > form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
