@import '../../../styles/variables.scss';

.section {
  width: 350px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $backgroundMain;

  .header {
    color: $fontSecondary;
    font-size: 20px;
    padding: 20px 0;
  }

  > form {
    width: 100%;
    height: 200px;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    .submitWrapper {
      width: 100%;

      display: flex;
      justify-content: space-between;

      > button {
        width: 100%;
      }
    }
  }

  .preHeaderWrapper {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 20px;
  }

  .signupWrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      margin-right: 10px;
      font-size: 14px;
      user-select: none;

      color: $fontSecondaryShadowed;
    }
  }
}
