@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.articleBar {
  background: $backgroundSecondary;
  color: $fontMain;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 70px;

  margin-bottom: 10px;

  .headingContainer {
    height: 100%;

    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .selectsWrapper {
      display: flex;

      > * {
        &:first-child {
          margin-right: 10px;
        }
      }

      .borderlessSelect {
        > select {
          border-radius: 2px 0 0 2px;
        }
      }

      > button {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .controlsContainer {
    display: flex;

    > * {
      margin-left: 10px;
    }

    &:last-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-2)) {
    .headingContainer {
      .selectsWrapper {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-3)) {
    .headingContainer {
      .selectsWrapper {
        margin-left: 65px;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-medium-1)) {
    height: 110px;

    flex-direction: column;
    align-items: normal;

    .headingContainer {
      justify-content: space-between;
      height: 70px;

      .selectsWrapper {
        width: 100%;
        justify-content: flex-end;
        margin-left: 0;
      }
    }

    .controlsContainer {
      justify-content: flex-end;
    }
  }
}
