@import '../../../../../styles/variables.scss';

.articleBar {
  background: $backgroundSecondary;
  color: $fontMain;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 43px;

  .headingWrapper {
    display: flex;
    align-items: center;
    width: 300px;

    .headingLabel {
      font-size: 14px;
      margin-right: 20px;
    }
  }

  .controlPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex: 1;

    .selectsPanel,
    .buttonsPanel {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > * {
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 970px) {
    position: initial;

    height: 80px;

    flex-direction: column;
    align-items: flex-start;

    .controlPanel {
      width: 100%;
    }
  }

  @media screen and (max-width: 670px) {
    height: 120px;

    flex-direction: column;
    align-items: flex-start;

    .controlPanel {
      width: 100%;

      display: flex;
      flex-direction: column-reverse;

      justify-content: space-around;
      align-items: flex-start;

      .buttonsPanel {
        width: 100%;
        align-items: flex-end;

        > * {
          margin-right: 0px;
          margin-left: 10px !important;
        }
      }

      .selectsPanel {
        width: 100%;
        align-items: flex-end;
      }
    }
  }
}
