@import '../../../../styles/variables.scss';

.userBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $backgroundSecondary;
  color: $fontSecondary;
}
