@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.imageWrapper {
  position: relative;
  display: inline-block;

  &:not([contenteditable]) {
    .controlsWrapper {
      display: none;
    }
  }

  &:hover {
    .controlsWrapper {
      display: inline-flex;
    }
  }

  &.selected {
    .imageContainer {
      border: 2px solid $linkColor;
    }

    .controlsWrapper {
      display: inline-flex;
    }
  }

  .imageContainer {
    display: inline-block;
    margin: 0 5px;

    border: 2px solid transparent;

    > img {
      display: block;
    }
  }

  .controlsWrapper {
    @include _controlsWrapper;
  }

  @media screen and (max-width: map-get($media-sizes, size-large-2)) {
    .imageContainer {
      max-width: 800px !important;
      overflow: scroll;

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $backgroundMain;
        height: 2px;
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-4)) {
    .imageContainer {
      max-width: 600px !important;
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-medium-1)) {
    .imageContainer {
      max-width: 330px !important;
    }
  }
}
