@import '../../../../../styles/variables.scss';
@import '../../../../../styles/common.scss';

.imageWrapper {
  position: relative;
  display: inline-block;

  &:not([contenteditable]) {
    .controlsWrapper {
      display: none !important;
    }

    .imageContainer {
      > img {
        pointer-events: all;
      }
    }
  }

  &:hover {
    .controlsWrapper {
      display: inline-flex;
    }
  }

  &.selected {
    .imageContainer {
      border: 2px solid $linkColor;
    }

    .controlsWrapper {
      display: inline-flex;
    }
  }

  .imageContainer {
    display: inline-block;
    margin: 0 5px;

    border: 2px solid transparent;

    > img {
      display: block;
      pointer-events: none;
    }
  }

  .controlsWrapper {
    @include _controlsWrapper;
  }
}
