@import '../../../../../styles/variables.scss';

.imageWrapper {
  position: relative;
  display: inline-block;

  &:not([contenteditable]) {
    .controlsWrapper {
      opacity: 0 !important;
    }
  }

  &:hover {
    .controlsWrapper {
      opacity: 1;
    }
  }

  &.selected {
    .imageContainer {
      border: 2px solid $linkColor;
    }

    .controlsWrapper {
      opacity: 1;
    }
  }

  .imageContainer {
    display: inline-block;
    margin: 0 5px;

    border: 2px solid transparent;

    > img {
      display: block;
    }
  }

  .controlsWrapper {
    position: absolute;
    top: 0;
    left: 5px;

    padding: 3px;

    width: 90px;

    display: flex;
    justify-content: space-between;

    background: $backgroundSecondary;
    border: 2px solid $linkColor;
    opacity: 0;
  }

  @media screen and (max-width: map-get($media-sizes, size-large-2)) {
    .imageContainer {
      max-width: 800px !important;
      overflow: scroll;

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $backgroundMain;
        height: 2px;
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
      }
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-large-4)) {
    .imageContainer {
      max-width: 600px !important;
    }
  }

  @media screen and (max-width: map-get($media-sizes, size-medium-1)) {
    .imageContainer {
      max-width: 330px !important;
    }
  }
}
