@import '../../../../../styles/variables.scss';

.imageWrapper {
  position: relative;
  display: inline-block;

  &:hover {
    .controlsWrapper {
      opacity: 1;
    }
  }

  &.selected {
    .imageContainer {
      border: 1px solid $fontSecondaryShadowed;
    }
  }

  .imageContainer {
    display: inline-block;
    position: relative;

    margin: 5px;

    border: 1px solid transparent;
  }

  .controlsWrapper {
    position: absolute;
    top: 5px;
    left: 5px;

    height: 21px;
    width: 80px;

    display: flex;
    justify-content: space-between;

    background: $backgroundSecondary;
    opacity: 0;
  }
}
