@import '../../styles/variables.scss';

.modalContent {
  width: 90vw;
  height: 90vh;

  display: flex;
  align-items: center;

  position: relative;

  > img {
    object-fit: contain;
  }

  &:hover {
    .controls {
      opacity: 1;
    }
  }

  .controls {
    opacity: 0;
    position: absolute;
    left: calc(50% - 27px);
    top: 5px;

    > button {
      width: 54px;
      height: 54px;

      padding: 3px;
    }
  }
}

.image {
  cursor: pointer;
}
